
/*body {
    font: normal 14px/normal segoe ui;
}*/

.table {
    font: normal 14px/normal segoe ui;
}

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 3px 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 0;
    }

    .table > tbody > tr > td {
        border: 2px;
        color:#828181 !important;
    }

.custom-form-control {
    font-size: 14px !important;
    font-family: Segoe\000020UI,Tahoma,Arial;
    /*font-weight: bold;*/
    border: 1px solid #f8f8f8;
    background: none;
    padding: 3px 5px;
    border-radius: 0;
    height: auto;
    box-shadow: none;
    width: 300px;
    color:#505050 !important;
}
.custom-form-control-lookup {
    font-size: 14px !important;
    font-family: Segoe\000020UI,Tahoma,Arial;
    /*font-weight: bold;*/
    border: 1px solid #f8f8f8;
    background: none;
    padding: 3px 5px;
    border-radius: 0;
    height: auto;
    box-shadow: none;
    width: 300px;
    color:#1160B7 !important;
}

    /*.custom-form-control:hover {
        border: 1px solid #cccccc;
        background: #f3f1f1;
        box-shadow: 2px 2px 2px #ccc;
    }*/
    .custom-form-control:hover {
        border: 1px solid ;
        box-shadow: 2px 2px 2px ;
    }

/*.custom-form-control:hover {
    border: 1px solid #cccccc;
    background: #f3f1f1;
    box-shadow: 2px 2px 2px #ccc;
}*/

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    /* background-color: #eee; */
    background:no-repeat;
    opacity: 1;
}
.tablewrap {
    background: #f8f8f8;
    border: 1px solid #f8f8f8;
}

td {
    /*width: 400px;*/
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 0;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    border: 0;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
    color: #000;
}

.nav-tabs {
    border-bottom: 0;
}

    .nav-tabs > li > a:hover {
        border: 0;
    }

    .nav-tabs > li {
        margin-bottom: 0;
    }

.tablewrap h4 {
    padding: 5px 10px;
    margin: 0;
}

.btn {
    font-weight: 600;
    padding: 4px 12px;
}

.glyphicon-info-sign {
    float: left;
    vertical-align: middle;
    margin: 5px 5px 0 0;
    color: #777;
}

.lookupImg {
    display: block;
    float: left;
    padding-top: 2px;
    border: 1px solid #b7b7b7;
    margin: -28px 0 0 0px;
}
.LockedImg {
    display: block;
    float: left;
    padding-top: 2px;
    /*border: 1px solid #b7b7b7;*/
    margin: 6px 0 0 -12px;
    /*height:40px;*/
}

/*lookupImg {
    position: absolute;
    left: 0px;
    top: 0px;
    /*z-index: -1 ; // pre
    display: block;
    float: left;
    padding-top: 2px;
    border: 1px solid #b7b7b7;
    margin: -23px 0 0 15px;
}*/

.gray {
    color: grey;
}

.Green {
    color: #00B050;
    font-weight: bold;
}

.Yellow {
    color: rgb(255, 149, 3);
    font-weight: bold;
}

.Red {
    color: #C00000;
    font-weight: bold;
}

.custom-form-control-date {
    font-size: 12px !important;
    font-family: arial;
    font-weight: bold;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    padding: 3px 5px;
    border-radius: 0;
    height: auto;
    box-shadow: none;
    width: 175px;
    height: 25px;
}

    .custom-form-control-date:hover {
        border: 1px solid #cccccc;
        background: #f3f1f1;
        box-shadow: 2px 2px 2px #ccc;
    }

.custom-form-control-Fcalender {
    font-size: 12px !important;
    font-family: arial;
    font-weight: bold;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    padding: 3px 5px;
    border-radius: 0;
    height: auto;
    box-shadow: none;
    width: 100px;
    height: 25px;
}

    .custom-form-control-Fcalender:hover {
        border: 1px solid #cccccc;
        background: #f3f1f1;
        box-shadow: 2px 2px 2px #ccc;
    }


.colLab {
    padding-left: 7px;
    margin-top: 18px;
    display: block;
    float: right;
    width: 350px;
    height: 21px;
    font-size: 14px;
    background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
    background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
}

.queDiv {
    background-color: rgb(229, 228, 228);
}

input[type="radio"],input[type=checkbox] {
    margin-right: 6px;
    display: inline-block;
    width: auto;
    /*width: 20px;*/

}

.labDiv {
    margin-top: 7px;
    padding-left: 7px;
}
/*.labDiv {
margin-top: 7px;
}*/
/*.halfdiv {
    width: 50%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
}

.fulldiv {
    width: 100%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}
.bold{ font-weight:bold}
.col50{width:50%}
.halfdiv{ cursor:pointer}*/
