﻿<html><head><meta charset="utf-8"><meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"></head>
<body style="padding: 20px; word-wrap: break-word;">
    
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> <!--3.1.1-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  <!--1.4.7-->
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script language="javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

                                                                                                                                     
    <form>
    
    <div ng-app="myApp" ng-controller="myCntrl">
    Date: 
        Start Date:<input type="text" uib-datepicker-popup="{{dateformat}}" ng-model="dt" is-open="showdp" datepicker-options="dateOptions" close-text="Close">
        <span>
            <button class="btn btn-default" type="button" ng-click="showcalendar($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        End Date:<input type="text" uib-datepicker-popup="{{dateformat}}" ng-model="dt1" is-open="showdp1" datepicker-options="dateOptions" close-text="Close">
        <span>
            <button class="btn btn-default" type="button" ng-click="showcalendar1($event)">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        <button ng-click="CalculateMaxMinDate(dt,dt1)">Go</button>
        {{Weekdates}}
        <table>
           <!--<tr>StartDate:{{MinDate}}</tr> 
           <tr>EndDate:{{MaxDate}}</tr> 
          <tr>Start Week Num: {{strtweeknum}}</tr> 
            <tr>End Week Num:{{endweeknum}}</tr>
            <tr>Start Month: {{strtmonth}} </tr>
            <tr>End Month:{{endMonth}} </tr>
            <tr>Start Year{{strtYear}}</tr>
            <tr>End Year {{endYear}} </tr>-->
        </table>
    </div>
    <script language="javascript">
        angular.module('myApp', ['ngAnimate','ui.bootstrap']);
        angular.module('myApp').controller('myCntrl', function ($scope) {
            if (!$scope.Weekdates) {
                $scope.today = function () {
                    debugger;
                    $scope.dt = new Date();
                    $scope.dt1 = new Date();
                    $scope.dt = new Date($scope.dt.getMonth() - 2 + "/" + $scope.dt.getDay() + "/" + $scope.dt.getFullYear());
                };
            }
            debugger;
            $scope.dateformat = "MM/dd/yyyy";
            $scope.today();
            $scope.showcalendar = function ($event) {
                $scope.showdp = true;
            };
            $scope.showcalendar1 = function ($event) {
                $scope.showdp1 = true;
            };
            $scope.showdp = false;        
            $scope.dateOptions  = {
                startingDay: 1
            };

            $scope.CalculateMaxMinDate = function (dt, dt1) {
                debugger;
                var month = new Array();
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";
                var MinDate = new Date(dt);
                var MaxDate = new Date(dt1);
                //new Date(this.setDate(this.getDate() - this.getDay()))
                var smdate = new Date(dt.getFullYear(), dt.getMonth(), (dt.getDate() - dt.getDay()));
                var lgdate = new Date(dt1.getFullYear(), dt1.getMonth(), (dt1.getDate() - dt1.getDay()+6));
                //$scope.dt = smdate;
                //$scope.dt1 = lgdate;
                $scope.MinDate = smdate;
                $scope.MaxDate = lgdate;
                var startweekNumber = (new Date(smdate)).getWeek();
                var endWeeknumber = (new Date(lgdate)).getWeek();
                $scope.strtweeknum = startweekNumber;
                $scope.endweeknum = endWeeknumber;
                var strtmonth = (new Date(smdate)).getMonth();
                var endMonth = (new Date(lgdate)).getMonth();
                $scope.strtmonth = month[strtmonth];
                $scope.endMonth = month[endMonth];
                var strtYear = (new Date(smdate)).getFullYear();
                var endYear = (new Date(lgdate)).getFullYear();
                $scope.strtYear = strtYear;
                $scope.endYear = endYear;
                $scope.WeekNumber = [];
                $scope.Weekdates = [];
                $scope.MonthName = [];
                if (strtYear == endYear) {
                    for (i = startweekNumber; i <= endWeeknumber; i++) {
                        $scope.WeekNumber.push(i);
                        var getStartDayofWeek = getDateRangeOfWeek(i, strtYear);
                        $scope.Weekdates.push(getStartDayofWeek);
                    }
                }
                else{
                    var startyr = strtYear;
                    var endyr = endYear;
                    var diffinYear = endyr - startyr; // number of year in difference
                    //  var totaldifferece = $scope.MaxDate - $scope.MinDate;
                    //var weekdays=['sun','mon','tue','wed','thu','fri','sat','sun'] ;    
                    //var availabledays =[];    
                    //var i = 0; 
                    //while (smdate <= lgdate) {
                    //    availabledays.push(weekdays[smdate.getDay()]);
                    //    //i++;
                    //    //smdate.setDate(smdate.getDate() + 1);
                    //    //if (i == 7)
                    //    //    break;
                    //}
                    //return availabledays;

                    //var timeDiff = Math.abs($scope.MaxDate.getTime() - $scope.MinDate.getTime());
                    //var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                    ////alert(diffDays);
                    //var startDateLoop = $scope.MinDate;
                    //var EndDateLoop = $scope.MaxDate;

                    //for (m = startDateLoop; m < EndDateLoop ; m = m + 7) {
                    //    startDateLoop


                    //}
                    //for(j = 1; j < diffinYear; j++) {
                    //    if (startyr < endyr) {
                    //        for (i = startweekNumber; i <= 52; i++) {
                    //            $scope.WeekNumber.push(i);
                    //            var getStartDayofWeek = getDateRangeOfWeek(i, startyr);
                    //            $scope.Weekdates.push(getStartDayofWeek);
                    //        }
                    //        startyr++; j++;
                    //    }
                    //}
                    var startDateLoop = smdate;
                    var EndDateLoop = lgdate;
                    while (startDateLoop <= EndDateLoop) {
                        var weeknumber = startDateLoop.getWeek();
                        $scope.WeekNumber.push(weeknumber);
                        var yearnow = startDateLoop.getFullYear();
                        var getStartDayofWeek = getDateRangeOfWeek(weeknumber, yearnow);
                        $scope.Weekdates.push(getStartDayofWeek);
                        $scope.MonthName.push(month[startDateLoop.getMonth()]);
                        startDateLoop.setDate(startDateLoop.getDate() + 6)
                    }
                }

            //    $scope.$apply();
            }

            Date.prototype.getWeek = function () {
                var onejan = new Date(this.getFullYear(), 0, 1);
                return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
            }

           getDateRangeOfWeek =function(weekNo,year) {
                debugger;
                var d1 = new Date();
                d1.setFullYear(year);
                numOfdaysPastSinceLastMonday = eval(d1.getDay());
                d1.setDate(d1.getDate() - numOfdaysPastSinceLastMonday);
                var weekNoToday = d1.getWeek();
                var weeksInTheFuture = eval(weekNo - weekNoToday);
                d1.setDate(d1.getDate() + eval(7 * weeksInTheFuture));
                var rangeIsFrom = d1.getDate();
                d1.setDate(d1.getDate() + 6);
                var rangeIsTo = d1.getDate();
                return rangeIsFrom + '-' + rangeIsTo;
            };

            function getDateRangeOfWeek(weekNo, startyear, endyear) {
                var mystartYear = startyear;
                var myendYear = endyear;
                if (endyear > startyear) {
                    var d1 = new Date();
                    d1.setFullYear(year);
                    numOfdaysPastSinceLastMonday = eval(d1.getDay());
                    d1.setDate(d1.getDate() - numOfdaysPastSinceLastMonday);
                    var weekNoToday = d1.getWeek();
                    var weeksInTheFuture = eval(weekNo - weekNoToday);
                    d1.setDate(d1.getDate() + eval(7 * weeksInTheFuture));
                    var rangeIsFrom = d1.getDate();
                    d1.setDate(d1.getDate() + 6);
                    var rangeIsTo = d1.getDate();
                    return rangeIsFrom + '-' + rangeIsTo;
                }

                
            };


        });
    </script>
    </form>

</body></html>