﻿<html><head><meta charset="utf-8"><meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"><meta charset="utf-8">
    <meta charset="utf-8"></head>
<body style="padding: 20px; word-wrap: break-word;">
    
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> <!--3.1.1-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>  <!--1.4.7-->
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script language="javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

                                                                                                                                     
    <form>
    
    <div ng-app="myApp" ng-controller="myCntrl">
        <input class="form-control custom-form-control-date" id="idDate" style="width:250px" type="text" readonly="" ng-model="datevalue" datepicker-options="dateOptions"
               is-open="isOpened" uib-datepicker-popup="{{dateformat}}" placeholder="{{dateformat}}" ng-click="showcalendar($event)">
        <i class="glyphicon glyphicon-calendar" id="Cal_Date" style="width:50px" ng-click="showcalendar($event)"></i>

    </div>
    <script language="javascript">
        angular.module('myApp', ['ngAnimate','ui.bootstrap']);
        angular.module('myApp').controller('myCntrl', function ($scope) {
            $scope.showcalendar = function (event) {
                debugger;
                var a = "";
                $scope.isOpened = true;
            }
            var UserId = '7F82FA6B-BE7B-E811-A97A-000D3A36FA33';
            GetUserSettingsCollection(UserId);
            function FormatDateUserPersonalSetting(passedDate, dateformat, dateseparator) {
                debugger;
                var dateformatSplit = dateformat.split(dateseparator);
                var passedDateSplit = passedDate.split("/");
                var month = passedDateSplit[0];
                var day = passedDateSplit[1];
                var year = passedDateSplit[2];
                var convertDate = '';
                for (var i = 0; i < dateformatSplit.length; i++) {
                    if (dateformatSplit[i].includes("y")) {
                        if (i === 2) {
                            convertDate = convertDate + year;
                        }
                        else {
                            convertDate = convertDate + year + dateseparator;
                        }
                    }
                    else if (dateformatSplit[i].includes("M")) {
                        if (i === 2) {
                            convertDate = convertDate + month;
                        }
                        else {
                            convertDate = convertDate + month + dateseparator;
                        }
                    }
                    else if (dateformatSplit[i].includes("d")) {
                        if (i === 2) {
                            convertDate = convertDate + day;
                        }
                        else {
                            convertDate = convertDate + day + dateseparator;
                        }
                    }
                }
                debugger;
                return convertDate;
            }
            function GetUserSettingsCollection(UserId) {
                debugger;
                var data = new Array();
                data["dateformatstring"] = 'yyyy/MM/dd';
                data["dateseparator"] = '.';
                $scope.dateseparator = data["dateseparator"];
                $scope.dateformat = data["dateformatstring"].replace("/", data["dateseparator"]).replace("/", data["dateseparator"]).replace("/", data["dateseparator"]);
                $scope.dateformat = "MM/dd/yyyy";
                debugger;
                $scope.dateOptions = {
                    startingDay: 0
                };
                $scope.isOpened = false;
                var dt = '12/24/2018';
                //$scope.datevalue = FormatDateUserPersonalSetting(dt, $scope.dateformat, $scope.dateseparator);
                $scope.datevalue = dt;
            }
        });
    </script>
    </form>

</body></html>