﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="ClientGlobalContext.js.aspx"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="fedcap_style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script language="javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="fedcap_bootstrap.js"></script>
    <script src="fedcap_ui_bootstrap_2.5.0.min.js"></script>
    <script src="fedcap_/js/SDK.MetaData.js"></script>
    <script src="fedcap_/js/jquery_ui.js"></script>
    <script src="fedcap_/js/jquery_ui.min.js"></script>
    <link href="fedcap_jquery_datetime.css" rel="stylesheet" />

    <script src="fedcap_PWinController.js"></script>

</head>
<body ng-app="MyApp">
    <div id="PWinMainContainer" >
        <div class="animate-bottom" ng-controller="PWinController">
            <nav class="">
                <div id="tabs">
                    <ul class="nav nav-tabs" role="tablist" id="pl_tab_PWinContainer">
                        <li class="" ng-class="{'active' : pwintab.id == '0'}" role="presentation" ng-repeat="pwintab in pwintabs">
                            <a aria-controls="home" aria-expanded="" data-toggle="tab" data-tabname={{pwintab.value}}
                               href="#phase_{{pwintab.id}}" role="tabpanel" id={{pwintab.id}}>
                                {{pwintab.value}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content ng-scope" id="pl_tab_content_PWinContainer">
                        <div ng-repeat="pwintab in pwintabs" style="overflow:auto" class="tab-pane" ng-class="{'active' : pwintab.id == '0'}" role="tabpanel" id="phase_{{pwintab.id}}">
                            <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                                <div class="colLab" id="Score_{{pwintab.id}}" ng-model="Phase0Score" html-with="100px">0.00%</div>
                            </div>
                             <div>
                                 <br>
                                 <br>
                                 <br>
                                 <div ng-repeat="question in pwintab.questions">
                                     <div class="queDiv">
                                         <label class="labDiv">
                                             <a class="bottom_tooltip" style="text-decoration: none; color: inherit" id="{{question.fedcap_pwinquestionid}}" data-que-weighting="{{question.fedcap_weighting}}">
                                                 <b>{{question.fedcap_name}}</b>
                                                 <span></span>
                                             </a>
                                         </label>
                                     </div>
                                     <font color="white"></font>
                                     <div>
                                         <fieldset style="border: none;">
                                             <table class="table" border="0" cellspacing="0" cellpadding="0">
                                                 <tbody>
                                                     <tr  ng-repeat="answer in question.answers">
                                                         <td>
                                                             <label>
                                                                 <input name="ans_{{question.fedcap_pwinquestionid}}" id="{{answer.fedcap_pwinanswerid}}" type="radio" ng-model="answer.fedcap_pwin_weighting">
                                                                 {{answer.fedcap_pwin_answer}}
                                                             </label>
                                                         </td>
                                                     </tr>
                                                 </tbody>
                                             </table>
                                         </fieldset>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
</body>
</html>