﻿.star {
    color: red;
    font-weight: bold;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #fff;
    font-weight: 400;
    text-shadow: 1px 0 0 currentColor;
    color: #000;
}

.lookup {
    color: rgb(17, 96, 183);
}

.form-control:hover {
    border: 1px solid #000;
    font-weight: 400;
    text-shadow: none;
}

.input-group-addon {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #000;
    background: #fff;
}

    .input-group-addon:last-child {
        border-left: 1px solid #000;
    }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

    .form-control[disabled]:hover, .form-control[readonly], fieldset[disabled] .form-control:hover {
        background-color: #eee;
        opacity: 1;
    }

.nav-tabs > li {
    float: left;
    margin-bottom: 0;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        cursor: default;
        background-color: #fff;
        border: 0;
        border-bottom: 3px solid #3b79b7;
        border-bottom-color: #3b79b7;
        font-weight: 600;
    }

.tab-content {
    margin-top: 20px;
    border-top: 3px solid #3b79b7;
    border: 3px;
}

.nav-tabs {
    border-bottom: 0;
}

    .nav-tabs > li > a {
        margin-right: 0;
        /*font-weight: bold;*/
        color: rgb(102, 102, 102);
        border-radius: 0;
        border: 0;
        border-bottom: 3px solid #fff;
    }

        .nav-tabs > li > a:hover {
            background: none;
        }

*::-webkit-input-placeholder {
    color: #000 !important;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: 000 !important;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: 000 !important;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: 000 !important;
}

.searchicon_td {
    position: relative;
}

.searchicon {
    position: absolute;
    top: 10px;
    /*right: 25px;*/
    display: none;
    float: right;
}

.searchicon_td:hover .searchicon {
    display: block;
}

.maintable td {
    vertical-align: middle !important;
    border-top: 0 !important;
    padding: 0 !important;
}

.maintable th {
    vertical-align: middle !important;
    border-top: 0 !important;
    padding: 0 !important;
}

.bordertop {
    border-top: 1px solid #ccc;
    min-height: 54px;
    line-height: 33px;
    padding: 8px 0;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.rmar {
    width: 95%;
}

.lmar {
}

.td1 {
    width: 20%;
}
/* DivTable.com */
.divTable {
    display: table;
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    padding-bottom: 0;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    padding: 5px 0;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.divTableRow .divTableCell:first-child {
    padding-right: 15px;
}

.divTableRow .divTableCell:nth-child(2) {
    padding-right: 15px;
}

.divTableRow .divTableCell:nth-child(3) {
    padding-right: 15px;
}

.divTableRow .divTableCell:nth-child(4) {
    padding-right: 15px;
}

.divTableRow .divTableCell:last-child {
    padding-right: 0;
}

.divTableBody .divTableRow:last-child .horline {
    border-bottom: 0;
}


.horline {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}

textarea {
    resize: none;
}
/*iOS Scroll issue*/
.sc {
    -webkit-overflow-scrolling: touch;
}

@media (max-width:768px) {
    .divTableCell, .divTableHead {
        display: inline-block;
        width: 100%;
    }

    .divTableRow .divTableCell:first-child {
        padding-right: 0;
    }

    .divTableRow .divTableCell:last-child {
        padding-left: 0;
    }

    .divTableRow {
        display: inline-block;
        width: 100%;
        border-bottom: 2px solid #ccc;
    }

    .horline {
        border-top: 1px solid #ccc;
        border-bottom: 0;
    }

    .divTableCell {
        padding: 0px 0;
    }
}
