
  
.halfdiv2{ width:50%; display:inline-block; float:left; }
.halfdiv3{ width:33.33%; display:inline-block; float:left;  }
.fulldiv{ width:100%; display:inline-block; float:left;  position:relative}
/*.threecolumndiv{ width:33.33%; display:inline-block; float:left; box-sizing:border-box; padding:0 15px}*/

.button1{ background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
border:1px solid #e1e1e1; padding:5px 5px; border-radius:4px; cursor:pointer; vertical-align:middle}

.bluebtn{background: #4f85bb; /* Old browsers */
background: -moz-linear-gradient(top, #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4f85bb 0%,#4f85bb 100%); /* IE10+ */
background: linear-gradient(to bottom, #4f85bb 0%,#4f85bb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=0 ); /* IE6-9 */ color:#fff; border:1px solid #337ab7;padding:2px 5px;}

.tab-content {
 
}
.tab-pane{ padding: 15px 15px; border:1px solid #ddd; border-top:0; border-radius:0 0 5px 5px}
.sectionHeading{
	font-size: 1.5em;
    margin: 0.83em 0;
    display: block;
	color:#337ab7
}

/*hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ccc -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom:10px;
  margin-top:10px;
}*/
tr{ cursor:pointer}
.editTable tr .edit{ opacity:0; transition: all 0.5s ease; margin:0 5px; float:right}
.editTable tr:hover .edit{ opacity:1;}

.col50{ float:left; display:inline-block;  padding:5px; white-space:nowrap; }
.col50{width:50%}
.col{ float:left; display:inline-block;  padding:5px; white-space:nowrap; }
.col{width:50%}
.halfdiv2{ cursor:pointer}
.halfdiv2 .edit{ opacity:0; transition: all 0.5s ease; margin:0 2px; float:right}
.halfdiv2:hover .edit{ opacity:1;}

.halfdiv3{ cursor:pointer}
.halfdiv3 .edit{ opacity:0; transition: all 0.5s ease; margin:0 -2px; float:right}
.halfdiv3:hover .edit{ opacity:1;}

/*.bold{ font-weight:bold}*/
  


.btndiv {  
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:default;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}